label{
    display: inline-block;
    margin: 10px 0;
}
input{
    display: block;
    padding: 10px;
    width: 100%;
}
.btn{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.form-control{
    background-color: #f3f3f3;
}